/*Global CSS*/

/* Global CSS Ends */

/* Main Headings */

/* Heading 1*/
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragraphs */
/* Body 1, 2, 3*/

/* Section Titles*/
/* Skills and About Me*/








/* Responsive Screens */

  /*
  @media only screen and (max-width: 1600px) {
    .skills-section-heading {
      font-size: 54px;
      line-height: 70px;
    }
    .skills-section-container {
      gap: 16px;
    }
    .skills-section-card {
      gap: 28px;
    }
    .skills--section--card--content {
      gap: 20px;
    }
    .skill-title {
      font-size: 23px;
      line-height: 30px;
    }
    
  }
  */

  




  /* Hamburger menu  */
  /*
  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1200px) {
    .nav__hamburger {
      display: flex;
      z-index: 200;
    }
    .navbar-items {
      display: flex;
    }
    
    .navbar-items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -20rem;
      left: 0;
      width: 100%;
      
      transition: all ease-in-out 0.4s;
     
      
    }
    .navbar-items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar-items ul li {
      text-align: center;
    }
    .navbar-items ul li a {
      padding: 0.5rem;
    }
    .navbar-items {
      z-index: -1000;
    }

    .navbar-items.active {
      top: 0px;
      background-color: var(--primary);
      
    }
    .navbar-items.active.scrolled {
        top: 0px;
        background-color: var(--light-blue);
        background-image: var(--gradient);
        
        
        
    }

    .navbar-content.active {
        color: var(--light-blue);
    }


    .navbar-content.active::after {
        background-color: var(--light-blue); =
        bottom:1px; 
       
        
      }

    .navbar-content.active.scrolled::after {
        background-color: var(--primary); 
        bottom:1px; 
        
      }
   

    .navbar-content.active.scrolled {
        color: var(--primary);
    }
    
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
      background-color: var(--light-blue);
    }
  
    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
      }
    
    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
        background-color: var(--light-blue);
      }

      .nav__hamburger.active.scrolled :nth-child(1) {
        background-color: var(--primary);
      }
      
      .nav__hamburger.active.scrolled :nth-child(3) {
          background-color: var(--primary);
        }
  }
  */
  /* Responsive Screens Ends */


