/*Global CSS*/

/* Global CSS Ends */

/* Main Headings */

/* Heading 1*/
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragraphs */
/* Body 1, 2, 3*/

/* Section Titles*/
/* Skills and About Me*/








/* Responsive Screens */

  /*
  @media only screen and (max-width: 1600px) {
    .skills-section-heading {
      font-size: 54px;
      line-height: 70px;
    }
    .skills-section-container {
      gap: 16px;
    }
    .skills-section-card {
      gap: 28px;
    }
    .skills--section--card--content {
      gap: 20px;
    }
    .skill-title {
      font-size: 23px;
      line-height: 30px;
    }
    
  }
  */

  




  /* Hamburger menu  */
  /*
  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1200px) {
    .nav__hamburger {
      display: flex;
      z-index: 200;
    }
    .navbar-items {
      display: flex;
    }
    
    .navbar-items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -20rem;
      left: 0;
      width: 100%;
      
      transition: all ease-in-out 0.4s;
     
      
    }
    .navbar-items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar-items ul li {
      text-align: center;
    }
    .navbar-items ul li a {
      padding: 0.5rem;
    }
    .navbar-items {
      z-index: -1000;
    }

    .navbar-items.active {
      top: 0px;
      background-color: var(--primary);
      
    }
    .navbar-items.active.scrolled {
        top: 0px;
        background-color: var(--light-blue);
        background-image: var(--gradient);
        
        
        
    }

    .navbar-content.active {
        color: var(--light-blue);
    }


    .navbar-content.active::after {
        background-color: var(--light-blue); =
        bottom:1px; 
       
        
      }

    .navbar-content.active.scrolled::after {
        background-color: var(--primary); 
        bottom:1px; 
        
      }
   

    .navbar-content.active.scrolled {
        color: var(--primary);
    }
    
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
      background-color: var(--light-blue);
    }
  
    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
      }
    
    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
        background-color: var(--light-blue);
      }

      .nav__hamburger.active.scrolled :nth-child(1) {
        background-color: var(--primary);
      }
      
      .nav__hamburger.active.scrolled :nth-child(3) {
          background-color: var(--primary);
        }
  }
  */
  /* Responsive Screens Ends */


  /* Project Page Style Starts */

  .projectPage {
    display: flex;
    padding: 6% 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 1050px;
    margin: 0 auto;
  }
    /*
    background-color: pink;
    */

  .section-heading {
    background: var(--gradient-heading);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    padding-bottom: 10px;
    border-bottom: solid 4px var(--secondary);
  }

  .project-pitch {
    font-weight: 100;
    font-size: 18px;
    /*color: #5f5f5f;*/
    color: var(--light-blue);

  }

  .project-img {
    display: flex;
    align-items: center;
    justify-content: left;
  
}

.project-img > img {    
    width: 100%;
    /* added the height because of the late loading image*/
    height: 560px;
    border: solid 2px var(--light-blue);
    border-radius: 10px;
}

.project-info-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.technology-card-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
  list-style-position: inside;
}

.technology-card-container li::marker {
  color: var(--light-blue);
}

.technology-card {
  color: var(--light-blue);
}

.project-description-title {
    color: var(--light-blue);
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.small-info-container {
  display: flex;
  flex-direction: column;
}

.technology-section {
  display: flex;
  flex-direction: column;
}


.project-icon-link {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  gap: 7px;
}

.project-link-title {
  color: var(--light-blue);
}


.technology-name {
  font-size: 15px;
}

.technology-title {
  color: var(--light-blue);
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}


.project-website-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
  justify-content: center;
}


.descriptions-section-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailed-info-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.project-description {
  color: var(--light-blue);
  font-size: 20px;
  line-height: 30px;
  font-weight: 300px;
}


.in-progress-label {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  text-decoration: none;
  gap: 3px;
}