
.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.4rem 3rem;

    height: 60px;
    background-color: transparent;
    transition: background 0.5s ease;
   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar.scrolled {
    background: var(--gradient);
    position: fixed;
}


.navbar-items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    text-decoration: none;
    
}


.navbar-content {
    color: var(--primary);
    font-size: var(--size-sm);
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    text-decoration: none; 
}


.navbar-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2px; 
    left: 0;
    bottom:-2px; 
    background-color: var(--primary); 
    transition: 0.3s ease-in-out;
  }
  
  .navbar-content:hover::after {
    width: 103%;
  
  }


.navbar-content-logo {
    color: var(--primary);
    font-size: var(--size-base);
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    visibility: visible;
}


/* Navbar Style Ends */

/*hamburger and responsive screen starts */

/* Hamburger menu  */


  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 25px;
    
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1020px) {

    .navbar {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      padding: 0.4rem 1.5rem;
  
      height: 60px;
      background-color: transparent;
      transition: background 0.5s ease;
     
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
  }
    .navbar-content-logo.active {
      visibility: hidden;
     
    }

    .navbar-content-logo.active.scrolled {
      visibility: hidden;
    }

    .nav__hamburger {
      display: flex;
      flex-direction: column;
      z-index: 200;
    }

    .navbar-items {
      display: flex;
    }
    
    .navbar-items {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -20rem;
        left: 0;
        width: 100%;
        transition: all ease-in-out 0.4s;
        
      }
    
    .navbar-items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    
    .navbar-items ul li {
      text-align: center;
    }
    .navbar-items ul li a {
      padding: 0.5rem;
    
    }
    .navbar-items {
      z-index: -1000;
    }

    .navbar-items.active {
      top: 0px;
      
      background-color: var(--primary);
      
    }

    .navbar-items.active.scrolled {
        top: 0px;
        background-color: var(--light-blue);
        background-image: var(--gradient);
    }


    .navbar-content.active {
        color: var(--light-blue);
    }


    .navbar-content.active::after {
        background-color: var(--light-blue);
        bottom:1px; 
       
        
      }

    .navbar-content.active.scrolled::after {
        background-color: var(--primary); 
        bottom:1px; 
        
      }
   
    .navbar-content.active.scrolled {
        color: var(--primary);
    }
    
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
      background-color: var(--light-blue);
    }
  
    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
      }
    
    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
        background-color: var(--light-blue);
      }

      .nav__hamburger.active.scrolled :nth-child(1) {
        background-color: var(--primary);
      }
      
      .nav__hamburger.active.scrolled :nth-child(3) {
          background-color: var(--primary);
        }

      
  }
  
  /* Responsive Screens Ends */
