.container-projects {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: solid 2px red; */
}




@media (max-width: 1536px) {
    .container-projects {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container-projects {
        width: 100%;
    }
}



/* Project Style Starts */

.projects-section {
    display: flex;

    padding-right: 11vw;
    padding-left: 11vw;
    padding-top: 3vw;
    padding-bottom: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    margin: 0 auto;
    /*
    background-color: pink;
    */
}

.projects-section-heading {
    background: var(--gradient-heading);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    /*background-color: pink;*/
}


.projects-section-skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 5px;
    width: 80%;
    /*background-color: blue;*/
}


.projects-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background:red */
}

.display-button-container {
    display: flex;
    border: 3px solid var(--light-blue);
    /* padding: 3px; */

}

.btn-display {
    padding: 10px 14px;
    line-height: 22px;
    color: var(--light-blue);
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-display:hover {
    background-color: #0a3c3d23;
    cursor: pointer;

}

.btn-display.active {
    color: var(--primary);
    background-color: var(--light-blue);
}

.dropdown {
    position: relative;
    max-width: 200px;


}

.dropdown-header {
    padding: 10px 14px;
    line-height: 22px;
    color: var(--primary);
    background-color: var(--light-blue);
    border: none;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 21px;
    gap: 2px;
    cursor: pointer;

}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 3px solid var(--light-blue);
    background: var(--primary);
    overflow: hidden;
    z-index: 10;
}

.dropdown-item {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 14px;
    line-height: 22px;
    color: var(--light-blue);
    background-color: transparent;
}

.dropdown-item:hover {
    background-color: #0a3c3d23;
}





.project-display-dropdown {
    padding: 10px 14px;

    line-height: 22px;
    color: var(--primary);
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--light-blue);






}

.projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 140px;

}

.projects-section-card.default {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*1.3fr 1fr*/
    grid-template-areas:
        "content image";
    align-items: top;
    justify-content: space-between;
    gap: 100px;

    /*background-color: var(--white);*/
    /*background-image: linear-gradient( #101c59, #00051f);*/

}

.projects-section-card.reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*1fr 1.3fr*/
    grid-template-areas:
        "image content";
    align-items: top;
    justify-content: space-between;
    gap: 100px;

}

.projects-section-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    grid-area: content;
}

.position-title {
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    /*color: #5f5f5f;*/
    color: #2f2e2e;
    background-color: var(--secondary);
   
}

.projects-section-title {
    color: var(--light-blue);
    /*color: var(--heading-color);*/
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    /*background-color: pink;*/
}

.projects-section-skills-card {
    display: flex;
    padding: 7px 12px;
    background-color: var(--light-blue);
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 auto;
}

.project-section-skill-title {
    color: var(--primary);
    font-weight: 600;
    font-size: 13px;
}

.projects-section-description {
    color: var(--light-blue);
    font-size: 20px;
    line-height: 32px;
    width: 100%;
    /* width: 95%*/
}

.btn-viewProject {
    color: var(--light-blue);
    background-color: var(--primary);
    border: 3px solid var(--light-blue);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 5px;
}

.btn-viewProject:hover {
    color: var(--primary);
    background-color: var(--light-blue);
    border: 3px solid var(--light-blue);
}


.projects-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;

}

.preview-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
  
}

.preview-img:hover {
    cursor: pointer;
    /*border: 2px solid #082222;*/
    transform: translate(0px, -10px);
    /* Lift effect */
    box-shadow: 0px 10px 40px gray;

}

.projects-section-img-active {
    display: none;
    justify-content: center;
    align-items: center;
    grid-area: image;


}


/* Projects Section Ends */


@media (max-width: 1536px) {
    .projects-section {
        display: flex;
        padding-top: 3vw;
        padding-bottom: 10vw;
        padding-left: 3vw;
        padding-right: 3vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;

        margin: 0 auto;
        /*
        background-color: pink;
        */
    }



}



/* lg */
@media (max-width: 1024px) {

    .projects-section-card.default {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*1.3fr 1fr*/
        grid-template-areas:
            "content image";
        align-items: top;
        justify-content: space-between;
        gap: 30px;

        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/

    }

    .projects-section-card.reverse {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*1fr 1.3fr*/
        grid-template-areas:
            "image content";
        align-items: top;
        justify-content: space-between;
        gap: 30px;

    }

    .projects-section-img {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .projects-section-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

    }

    .projects-section-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        gap: 100px;


        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/
    }

    .projects-section-description {
        color: var(--light-blue);
        font-size: 19px;
        line-height: 25px;
        width: 100%;
        /* width: 95%*/
    }

    .projects-section-title {
        color: var(--light-blue);
        /*color: var(--heading-color);*/
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        /*background-color: pink;*/
    }

    .projects-section-skills-card {
        display: flex;
        padding: 6px 10px;
        background-color: var(--light-blue);
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 auto;
    }

    .project-section-skill-title {
        color: var(--primary);
        font-weight: 600;
        font-size: 12px;
    }
}

/* md */
@media (max-width: 768px) {

    .projects-section-card.default {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/

    }

    .projects-section-card.reverse {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/

    }



    .projects-section-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
        grid-area: content;
    }

    .projects-section-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        gap: 100px;


        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/
    }

    .projects-section-description {
        color: var(--light-blue);
        font-size: 20px;
        line-height: 32px;
        width: 95%;
        /* width: 95%*/
    }

    .projects-section-title {
        color: var(--light-blue);
        /*color: var(--heading-color);*/
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        /*background-color: pink;*/
    }


    .projects-section-skills-card {
        display: flex;
        padding: 7px 12px;
        background-color: var(--light-blue);
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 auto;
    }

    .project-section-skill-title {
        color: var(--primary);
        font-weight: 600;
        font-size: 13px;
    }

    .projects-section-img {
        display: none;
        justify-content: center;
        align-items: center;
        grid-area: image;

    }

    .projects-section-img-active {
        display: flex;
        justify-content: left;
        align-items: center;
        grid-area: image;

    }

    .preview-img-active {
        display: block;
        max-width: 80vw;
        height: auto;
        border-radius: 10px;
        transition: box-shadow 0.5s ease;
    }

    .preview-img-active:hover {
        cursor: pointer;
        /*border: 2px solid #082222;*/
        transform: translate(0px, -10px);
        /* Lift effect */
        box-shadow: 0px 10px 40px gray;

    }

}

/* sm */
@media (max-width: 640px) {


    .projects-section-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        gap: 100px;


        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/
    }


    .projects-section-title {
        color: var(--light-blue);
        /*color: var(--heading-color);*/
        font-size: 42px;
        font-weight: 700;
        line-height: 47px;
        /*background-color: pink;*/
    }

    .projects-section-skills-card {
        display: flex;
        padding: 6px 10px;
        background-color: var(--light-blue);
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 auto;
    }

    .project-section-skill-title {
        color: var(--primary);
        font-weight: 600;
        font-size: 12px;
    }

    .projects-section {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;

        margin: 0 auto;
        /*
        background-color: pink;
        */
    }

    .projects-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 20px
            /* background:red */
    }
}

/* xs */
@media (max-width: 475px) {

    .projects-section-img-active {
        display: flex;
        justify-content: left;
        align-items: center;
        grid-area: image;

    }

    .preview-img-active {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        transition: box-shadow 0.5s ease;
    }

    .preview-img-active:hover {
        cursor: pointer;
        /*border: 2px solid #082222;*/
        transform: translate(0px, -10px);
        /* Lift effect */
        box-shadow: 0px 10px 40px gray;

    }

    .projects-section-description {
        color: var(--light-blue);
        font-size: 20px;
        line-height: 32px;
        width: 100%;
        /* width: 95%*/
    }

    .projects-section-skills-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        gap: 5px;
        width: 100%;
        /*background-color: blue;*/
    }



    .btn-viewProject {
        color: var(--light-blue);
        padding: 11px 18px;
        display: inline-block;
        line-height: 20px;
        background-color: var(--primary);
        border: 3px solid var(--light-blue);
        font-size: 16px;
        font-weight: bold;
        transition: 0.3s;

    }

    .projects-section-heading {
        background: var(--gradient-heading);
        background-clip: text;
        color: transparent;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        /*background-color: pink;*/
    }

    .projects-section-title {
        color: var(--light-blue);
        /*color: var(--heading-color);*/
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        /*background-color: pink;*/
    }


}

/* xxs */
@media (max-width: 325px) {


    .projects-section-heading {
        background: var(--gradient-heading);
        background-clip: text;
        color: transparent;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        /*background-color: pink;*/
    }

    .projects-section-title {
        color: var(--light-blue);
        /*color: var(--heading-color);*/
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        /*background-color: pink;*/
    }

    .projects-section-description {
        color: var(--light-blue);
        font-size: 16px;
        line-height: 23px;
        width: 100%;
        /* width: 95%*/
    }

    .projects-section-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        grid-area: content;
    }

    .position-title {
        font-weight: 100;
        font-size: 13px;
        text-transform: uppercase;
        /*color: #5f5f5f;*/
        color: #2f2e2e;
        background-color: var(--secondary);
    }

    .projects-section-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        gap: 80px;


        /*background-color: var(--white);*/
        /*background-image: linear-gradient( #101c59, #00051f);*/
    }



}